@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: #191923;
  background: #ffffff;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
